---
import MasterLayout from "../../../layouts/MasterLayout.astro";

const allNotes = await Astro.glob('./*.md');
allNotes.sort((a, b) => { // Sort by date, descending
	return new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime();
});
---

<MasterLayout title="Notes | Jarred Vardy">
    <h1>Notes</h1>

    <p><a href="https://alex.miller.garden/notes/evergreen-notes/">Notes?</a></p>

    <nav>
        <h2>Notes</h2>
        <ul>
            {allNotes.map(note =>
                <li>
                    <a href={note.url}>{note.frontmatter.title}</a>
                </li>
            )}
        </ul>
    </nav>
</MasterLayout>
