---
import MasterLayout from "../../../layouts/MasterLayout.astro";

const allBlogPosts = await Astro.glob('./*.md');
allBlogPosts.sort((a, b) => { // Sort by date, descending
	return new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime();
});
---

<MasterLayout title="Blog | Jarred Vardy">
    <h1>Blog Home</h1>

    <nav>
        <h2>Posts</h2>
        <ul>
            {allBlogPosts.map(post =>
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            )}
        </ul>
    </nav>
</MasterLayout>
