---
import MasterLayout from "@layouts/MasterLayout.astro";
---

<MasterLayout title="Page Not Found | Jarred's Garden">
    <h1>404 - Not found</h1>
    <p>The page you searched for does not exist.</p>
</MasterLayout>
