---
import MasterLayout from '@layouts/MasterLayout.astro';
import { getCollection } from 'astro:content';

const allNotes = await getCollection('notes');
---

<MasterLayout title="Home | Jarred Vardy's Garden">

    <p>This is a temporary holding space for a future project. Time will 
    tell what will become of it.</p>

    <p>Find my Github here: <a href="https://github.com/vardy/">https://github.com/vardy/</a></p>

    <p>You can email me  here:</p>
    <img src="/imgs/email.svg">

</MasterLayout>

<style>
    li {
        list-style: none;
    }
</style>
