---
import Button from '@components/Button.astro';
import MasterLayout from '@layouts/MasterLayout.astro';
---

<MasterLayout title="Home | Jarred's Garden">
	<h2>What's up</h2>
    <!--<p>This website is a bit of a playground and side-project 
    to play with Svelte, Astro, and CSS. The goal being to 
    make a no-bullshit, simple, fast, static site. Something 
    that makes me want to add to it, expand, write, code. 
    All too often projects get bloated, hard to read, and 
    dreadful to extend. I don't expect there to be anything 
    fit for consumption on here any time soon...</p>-->

    <Button>Test button</Button>

    <h2>Recent writings</h2>
	<ul>
		<!--{allBlogPosts.map(post =>
			<li>
				<a href={post.url}>{new Date(post.frontmatter.date).toLocaleDateString("en-AU")} | {post.frontmatter.title}</a>
			</li>
		)}-->
	</ul>
</MasterLayout>
