---
import MasterLayout from '@layouts/MasterLayout.astro';
import { getCollection } from 'astro:content';

const allNotes = await getCollection('notes');
---

<MasterLayout title="Home | Jarred Vardy's Garden">

    <p></p>

    <h2>Recent writings</h2>
	<ul>
        {
            allNotes.map((note) => (
                <li><a href={'/writing/' + note.slug}>{note.data.title}</a></li>
            ))
        }
	</ul>
</MasterLayout>

<style>
    li {
        list-style: none;
    }
</style>
