---
import MasterLayout from "@layouts/MasterLayout.astro";
---

<MasterLayout title="Projects | Jarred Vardy's Garden">
<a href="https://github.com/vardy/" target="_blank">Github</a>
</MasterLayout>
