---
let { link, isHeaderButton } = Astro.props;
---

<div class:list={["btn", isHeaderButton && "btn-header"]}>
    <a href={link}>
        <slot></slot>
    </a>
</div>

<style>
    .btn a {
        text-decoration: none;
        font-style: normal;
        padding: 0.3rem 0.5rem;
        background-color: var(--accent-color);
        color: white;
    }

    .btn-header {
        margin: 0 1rem 0.3rem 0rem;
        padding: 0.3rem 0.5rem 0.3rem 0;
    }
</style>
