---
import Button from "@components/Button.astro"

---

<nav>
    <div id="text-section">
        <span id="name-heading">Jarred Vardy's Garden</span>

        <div id="header-nav-links">
            <Button isHeaderButton link="/">Home</Button>
            <Button isHeaderButton link="/">Writing</Button>
            <Button isHeaderButton link="/">Projects</Button>
            <Button isHeaderButton link="/">Contact</Button>
        </div>
    </div>
</nav>

<style>
    img {
        width: 100px;
        height: 100px;
        border: 1px solid rgb(150, 149, 149);
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    #text-section {
        display: flex;
        flex-direction: column;
    }

    #name-heading { 
        font-size: 2em;
        font-weight: bold;
    }

    #header-nav-links {
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;  
        margin: 0.5rem 0;
    }
</style>
