---
import MasterLayout from "../../layouts/MasterLayout.astro";

---

<MasterLayout title="Writing | Jarred Vardy">
    <a href="/writing/blog">Blog</a><br>
    <a href="/writing/notes">Notes</a>
</MasterLayout>
